body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    background-color: #EDEDED;
    position : relative;
    z-index : 0;
}

header {
    height: 667px;
    background-image: url('../assets/photos/homepage_picture.jpg');
    background-size: cover;
    position : relative;
    z-index: 0;
}

header .title {
    color : white;
    position : absolute;
    top: 20px;
    left : 20px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header .headerSearch {
    position : absolute;
    top: 100px;
    left: 25%;
    z-index: 1;
    max-width : 1000px;
}

header .headerSearch h1 {
    color : #FFD15B;
    /* font-family: Anton; */
    font-weight: 400px;
    font-size : 44px;
    line-height : 66.24px;
    text-align : center;
    width: 80%;
}

header .headerSearch input {
    width: 954px;
    height: 72px;
    border-radius: 10px;
}
/* //////////////////////////////////////////////////////////////////





///////////////////////////////////////////////////////////////// */

.filterSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.filterContainer {
    width : 20%;
    background-color: white;
    border : solid 1px gray;
    border-radius: 20px;
    height : 50px;
    position : relative;
    z-index : 0;
}

.filterResult {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : 0 10px;
}

.ingredientFilterList {
    position : absolute;
    display : none;
}
.applianceFilterList {
    position : absolute;
    display : none;
}
.utensilFilterList {
    position : absolute;
    display : none;
}

/* //////////////////////////////////////////////////////////////////





///////////////////////////////////////////////////////////////// */

.cardList {
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap : wrap;
    align-items : center;
    position : relative;
    z-index : 0;
}


.cardList .recipe {
    border-radius : 40px;
    max-width: 380px;
    height: 500px;
    overflow : hidden;
    background-color: white;
    position : relative;
    z-index : 0;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe p {
    font-size: 12px;
}

.recipe .cardUp {
    height : 40%;
    position : relative;
    z-index : 0;
    overflow : hidden;
}

.recipePhoto {
    width : 500px;
    height : 250px;
}

.time {
    position : absolute;
    z-index : 5;
    background-color : #FFD15B;
    border-radius: 20px;
    top : 5px;
    right : 5px;
    padding: 5px;
}

.recipe .cardDown {
    height : 60%;
    position : relative;
    z-index : 0;
}

.cardDown h2 {
    font-size: 20px;
}

.cardDown h3 {
    font-size: 15px;
    color : grey;
}