@font-face {
    font-family: "Anton";
    src: url("../fonts/Anton-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.ttf");
    font-display: swap;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    background-color: #EDEDED;
    position : relative;
    z-index : 1;
}

header {
    height: 667px;
    background-image: url('../assets/photos/homepage_picture.jpg');
    background-size: cover;
    position : relative;
    z-index: 0;
    font-family: Anton;
}

header .title {
    color : white;
    position : absolute;
    top: 20px;
    left : 20px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header .title span {
    font-weight : bold;
    font-size : 26px;
    margin : 0 5px;
}

header .headerSearch {
    position : absolute;
    top: 245px;
    left: 25%;
    z-index: 1;
    width : 954px;
}

header .headerSearch h1 {
    color : #FFD15B;
    font-weight : bold;
    font-size : 44px;
    line-height : 66.24px;
    text-align : center;
    width: 80%;
    margin : 10px auto;
}

.searchBarContainer {
    display: block;
    z-index : 1;
    position: relative;
}

.searchBar {
    width: 954px;
    height: 72px;
    border-radius: 10px;
    position: relative;
    z-index : 2;
}

.searchBarIcon {
    position: absolute;
    z-index : 20;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius : 15px;
    right: 8px;
    top: 11px;
    padding: 10px;
}

.searchBarIcon img {
    width: 100%;
    height: 100%;
}

/* ////////////////////////////////////////////////////////////////////////
//    IIIIIII     IIIIIII     I       IIIIIIIIIII   IIIIII    IIIII
//    I              I        I            I        I         I    I
//    IIII           I        I            I        III       IIIII
//    I              I        I            I        I         I    I
//    I           IIIIIII     IIIIII       I        IIIIII    I     I
//////////////////////////////////////////////////////////////////////////// */

.Recipes {
    width: 1236px;
    margin : 0 auto;
}

.filterArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin : 10px 0;
}

.filterSection {
    display: flex;
    flex-direction: row;
    margin-bottom : 30px;
    align-items : baseline;
    width: 850px;
}


.filterContainer {
    width : 195px;
    background-color: white;
    border : solid 1px gray;
    border-radius: 20px;
    height : 56px;
    position : relative;
    z-index : 30;
    font-family : Manrope;
    margin : 0 auto;
}

.filterContainer:first-child {
    margin-left: 0;
}

.filterResult {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding : 0 10px;
    position : inherit;
    z-index: 30;
}
.filterResult img {
    width : 10%;
}
.upsideDown {
    transform : scaleY(-1);
}
.filters {
    z-index : 30;
    position: inherit;
    top: -25%;
    display : flex;
    flex-direction: column;
    /* justify-content: space-around; */
    border-radius: 20px;
    background-color: white;
}
.ingredientFilterList,
.applianceFilterList,
.ustensilFilterList {
    display : flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    margin-top: -10px;
    max-width : 252px;
}
.ingredientFilterList::-webkit-scrollbar,
.applianceFilterList::-webkit-scrollbar,
.ustensilFilterList::-webkit-scrollbar {
    display: none;
}
.ingredientFilterList li,
.applianceFilterList li,
.ustensilFilterList li {
    list-style: none;
    font-family: Manrope;
    font-weight: 400;
    padding : 5px;
    margin : 0 0 0 -24px;
    max-width : 100%;
}
.ingredientFilterList li:hover,
.applianceFilterList li:hover,
.ustensilFilterList li:hover {
    background-color: #FFD15B;
    font-weight: 700;
    cursor : pointer;
}

.filterSelectedArea {
    min-height : 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filterElement {
    border : solid 2px gray;
    border-radius: 10px;
    background-color: #FFD15B;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width : 20%;
    height : fit-content;
}
.filterElement p {
    margin: 5px;
    font-family: Manrope;
}
.filterClose {
    width : 20px;
    margin: 5px;
}

.inputContainer {
    display : inline-flex;
    align-items: center;
    justify-content: center;
    width : 100%;
    margin-bottom: 0px;
}

.inputSearchList {
    margin : 15px 0;
    width : 80%;
    line-height : 25px;
    content : url('../assets/chevron-up.svg');
}

.searchLogo {
    height : auto;
    width : 10%;
    position : absolute;
    right : 10%;
}

.recipeList {
    font-family: Anton;
    font-weight : 400px;
    font-size : 21px;
    line-height: 32px;
}

/* //////////////////////////////////////////////////////////////////
//      IIIIII    IIIIII    IIIIII  IIIIIIIII  IIIIII   IIIIII
//      I     I   I        I            I      I     I  I
//      IIIIII    III      I            I      IIIIII   III
//      I     I   I        I            I      I        I
//      I      I  IIIIII    IIIIII  IIIIIIII   I        IIIIII
///////////////////////////////////////////////////////////////// */

.cardList {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap : wrap;
    align-items : center;
    width : 100%;
}

.cardList .recipe {
    border-radius : 21px;
    width: 380px;
    height: 731px;
    overflow : hidden;
    background-color: white;
    margin : 32px 0;
}

.recipe:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.recipePhoto {
    width : 100%;
    height: 300px;
    object-fit: cover;
}
.recipe .cardUp {
    position : relative;
}
.time {
    position : absolute;
    z-index : 5;
    background-color : #FFD15B;
    border-radius: 14px;
    top : 21px;
    left : 295px;
    padding: 5px;
    line-height: 16.4px;
    font-size: 12px;
    font-weight: 400;
    font-family: Manrope;
}

.recipe .cardDown {
    height : 80%;
    padding : 5px 15px;
}

.cardDown h2 {
    font-size: 18px;
    font-weight : 400;
    line-height: 27.1px;
    font-family : Anton;
}

.cardDown h3 {
    font-weight: 700;
    font-family: Manrope;
    font-size: 12px;
    line-height: 16.39px;
    color : grey;
}

.cardRecipe p {
    width : 100%;
    height: 50px;
    overflow-y: auto;
    scrollbar-width: none;
    margin : 0 auto;
    font-size: 14px;
    font-weight: 400;
    font-family: Manrope;
    line-height: 19.12px;
}

.ingredientGrid {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items : center;
}

.ingredientContainer {
    width : 35%;
    line-height: 14px;
}

.ingredientContainer p {
    font-weight: 500;
}
.ingredientQuantity {
    font-size: 14px;
    font-weight: 400;
    font-family: Manrope;
    color : grey;
}















.topButton {
    position : fixed;
    right: 45%;
    bottom : 10px;
    left : 45%;
    z-index : 20;
    padding : 5px;
    background-color :#FFD15B;
    border-radius: 20px;
    color : black;
    font-weight: 700;
    font-family: Manrope;
    text-align: center;
}

.topButton:hover {
    cursor : pointer;
}


.hidden {
    display : none;
}
.showBorder {
    border : solid 1px gray;
}