body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    background-color: #EDEDED;
    position : relative;
    z-index : 1;
}

header {
    height: 667px;
    background-image: url('../assets/photos/homepage_picture.jpg');
    background-size: cover;
    position : relative;
    z-index: 0;
}

header .title {
    color : white;
    position : absolute;
    top: 20px;
    left : 20px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header .headerSearch {
    position : absolute;
    top: 100px;
    left: 25%;
    z-index: 1;
    max-width : 1000px;
}

header .headerSearch h1 {
    color : #FFD15B;
    font-weight: 400px;
    font-size : 44px;
    line-height : 66.24px;
    text-align : center;
    width: 80%;
}

.searchBar {
    width: 954px;
    height: 72px;
    border-radius: 10px;
}
/* //////////////////////////////////////////////////////////////////





///////////////////////////////////////////////////////////////// */

.Recipes {
    width: 95%;
    margin : 0 auto;
}

.filterArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filterSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom : 30px;
    align-items: top;
    width: 850px;
}

.filterContainer {
    width : 250px;
    background-color: white;
    border : solid 1px gray;
    border-radius: 20px;
    height : 50px;
    position : relative;
    z-index : 30;
}

.filterResult {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding : 0 10px;
}
.filterResult img {
    width : 10%;
}
.upsideDown {
    transform : scaleY(-1);
}
.filters {
    z-index : 30;
    position: inherit;
    top: -40%;
}
.ingredientFilterList,
.applianceFilterList,
.utensilFilterList {
    background-color: white;
    border : solid 1px gray;
    border-radius: 20px;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}
.ingredientFilterList::-webkit-scrollbar,
.applianceFilterList::-webkit-scrollbar,
.utensilFilterList::-webkit-scrollbar {
    display: none;
}
.ingredientFilterList li,
.applianceFilterList li,
.utensilFilterList li {
    list-style: none;
    margin : 10px;
}
.ingredientFilterList li:hover,
.applianceFilterList li:hover,
.utensilFilterList li:hover {
    text-decoration: underline;
    cursor : pointer;
}

.filterSelectedArea {
    min-height : 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filterElement {
    border : solid 2px gray;
    border-radius: 10px;
    background-color: #FFD15B;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width : 20%;
    height : fit-content;
}
.filterElement p {
    margin: 5px;
}
.filterClose {
    width : 20px;
    margin: 5px;
}

.inputSearchList {
    margin : 15px 0;
    width : 80%;
    line-height : 25px;
    content : url('../assets/chevron-up.svg') 10px 10px no-repeat;
}
/* //////////////////////////////////////////////////////////////////





///////////////////////////////////////////////////////////////// */

.cardList {
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap : wrap;
    align-items : center;
}


.cardList .recipe {
    border-radius : 40px;
    width: 380px;
    height: 731px;
    overflow : hidden;
    background-color: white;
    margin : 10px 40px;
}

.recipe:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.recipe p {
    font-size: 12px;
}

.recipePhoto {
    width : 100%;
    height: 300px;
    object-fit: cover;
}
.recipe .cardUp {
    position : relative;
}
.time {
    position : absolute;
    z-index : 5;
    background-color : #FFD15B;
    border-radius: 20px;
    top : 5px;
    right : 5px;
    padding: 5px;
}

.recipe .cardDown {
    height : 80%;
    padding : 5px;
}

.cardDown h2 {
    font-size: 20px;
}

.cardDown h3 {
    font-size: 15px;
    color : grey;
}

.cardRecipe p {
    width : 95%;
    height: 50px;
    overflow-y: auto;
    margin : 0 auto;
}

.ingredientGrid {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width : 90%;
    align-items : center;
    margin : 0 auto;
}

.ingredientContainer {
    width : 30%;
    margin: 0 20px;
    line-height: 16px;
}

.ingredientQuantity {
    font-size: 11px;
    color : grey;
}















.topButton {
    position : fixed;
    right: 45%;
    bottom : 0;
    left : 45%;
    z-index : 20;
    padding : 5px;
    background-color :#FFD15B;
    border-radius: 20px;
    color : white;
    font-weight: bold;
    text-align: center;
}

.topButton:hover {
    cursor : pointer;
}


.hidden {
    display : none;
}